.bar-wrapper {
	/*pointer-events: none;*/
}

.gantt .stale.active.bar-wrapper .bar,
.gantt .stale.bar-wrapper:hover .bar {
	fill: #FEA5A0;
}
.gantt .stale .bar {
	fill: #FFBFBB;
}

.gantt .stale.active.bar-wrapper .bar-progress,
.gantt .stale.bar-wrapper:hover .bar-progress {
	fill: #FE5F55;
}
.gantt .stale .bar-progress {
	fill: #FE7F77;
}

.gantt .closed.active.bar-wrapper .bar-progress,
.gantt .closed.bar-wrapper:hover .bar-progress {
	fill: #82D173;
}
.gantt .closed .bar-progress {
	fill: #92E183;
}

.gantt .bar-label {
	font-weight: bolder !important;
}